modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai:1.0.0", "google-calendar:1.0.0", "outlook:1.0.0", "google-mail:1.0.0", "stripe:1.0.0"]

[userenv]

[userenv.shared]
TELEGRAM_BOT_USERNAME = "HelixAppBot"
VAPID_PUBLIC_KEY = "BD5BwsfaBnZZdMf54i5XHbEDcTFHBArSPWDb_ySAkA85OaniAY6txwkLJtvIGpQ6lOjFz2HImFq7JypNfS7rWxg"
VAPID_PRIVATE_KEY = "T4pOnn_6PUAG7M-US2BUWIQxJufLJlWEbHVSAFRcvaI"
VITE_GA_MEASUREMENT_ID = "G-9K0CTR39SS"
BILLING_ENFORCEMENT = "false"
STRIPE_PRICE_PRO = "price_1T7eqoDDKVwZDmPuOIpTTZdk"
STRIPE_PRICE_LIFE_OS = "price_1T7eqoDDKVwZDmPuG8hxwzYx"
